---
layout: page
title: Work Roles
---

<!doctype html>
<html lang="en">

<head>

    <title>{{ page.title }}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-table-1.16.0-dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    
</head>

<body>

    <div class="table_container">   
        <h2>Basic Dev Work Role</h2>
        <div id="metrics_bar">
            <div id="bdBar">1%</div>
        </div>
        <table class="bdTable table table-sm table-dark table-striped"></table>        
    </div>
    <div class="table_container">   
        <h2>Basic PO Work Role</h2>
        <div id="metrics_bar">
            <div id="bpoBar">1%</div>
        </div>
        <table class="bpoTable table table-sm table-dark table-striped"></table>        
    </div>
    <div class="table_container">
        <h2>Senior Dev Windows Work Role</h2>
        <div id="metrics_bar">
            <div id="sdwBar">1%</div>
        </div>
        <table class="sdwTable table table-sm table-dark table-striped"></table>        
    </div>
    <div class="table_container">   
        <h2>Senior Dev Linux Work Role</h2>
        <div id="metrics_bar">
            <div id="sdlBar">1%</div>
        </div>
        <table class="sdlTable table table-sm table-dark table-striped"></table>        
    </div>
    <div class="table_container">   
        <h2>Senior PO Work Role</h2>
        <div id="metrics_bar">
            <div id="spoBar">1%</div>
        </div>
        <table class="spoTable table table-sm table-dark table-striped"></table>        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>  
    <script src="{{ site.baseurl }}/assets/bootstrap-table-1.16.0-dist/bootstrap-table.min.js"></script>  
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/helpers.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/workroles/assets/js/tablescript.js"></script>

</body>
</html>
