---
layout: home
---

<!doctype html>
<html lang="en">

<head>

    <title>{{ page.title }}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-table-1.16.0-dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    
</head>

<body>

    <div class="table_container">
        <h2>Tasks</h2>
        <div id="metrics_bar">
            <div id="tasksBar">1%</div>
        </div>
        <table class="tasksTable table table-sm table-dark table-striped"></table>        
    </div>
    <div class="table_container">
        <h2>Knowledge/Skills/Abilities</h2>
        <div id="metrics_bar">
            <div id="ksaBar">1%</div>
        </div>
        <table class="ksaTable table table-sm table-dark table-striped"></table>        
    </div>
    <div class="table_container">
        <h2>Work Roles/Specializations</h2>
        <div id="metrics_bar">
            <div id="wrspecBar">1%</div>
        </div>
        <table class="wrspecTable table table-sm table-dark table-striped"></table>        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap-table-1.16.0-dist/bootstrap-table.min.js"></script>   
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/helpers.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/tablescript.js"></script>

</body>
</html> 