<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    <div class='init_consent' style='display: none;'>
      <div class='cookie-banner-bg'></div>
      <div class='cookie-banner'>
          <p>Test consent banner...</p>
          <button class='close'>AGREE</button>
      </div>
    </div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
