.wrapper {
  max-width: calc(1100px - (30px * 2));
}
.cookie-banner-bg {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000f3;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 10000;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.cookie-banner {
  position: fixed;
  top: 20%;
  left: 32.5%;
  right: 25%;
  width: 35%;
  height: 330px;
  display: flex;
  background-color: #eee; 
  border-radius: 10px;
  z-index: 10001;
}
.cookie-banner > p {
  margin: auto;
}
.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: black;
  border-radius: 2px;
  cursor: pointer;

  position: absolute;
  right: 3%;
  bottom: 5%;
}



#metrics_bar {
  width: 60%;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  height: 36px;
  margin-bottom: -46px;
}
#metrics_bar > div{
  width: 1%;
  border-radius: .25rem;
  height: 100%;
  background-color: rgb(255, 0, 0);
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 35px; /* To center it vertically */
  color: #495057;
  font-size: 14px;
  white-space: nowrap;
}

.table_container {
  width: 100%;
  margin: auto;
  height: 535px;
  font-size: 12px;
}
.header_description {
  min-width: 250px;
}

.bootstrap-table .search input {
  height: 100%
}