.metrics {
    padding-bottom: 75px;
}
.metrics > h1 {
    padding-bottom: 25px;
}
.metrics #metrics_bar {
    width: 100% !important;
}

.metrics_container {
    float: left;
    width: 30%;
    margin-top: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
}
.metrics_container > p {
    margin-bottom: 5px;
}
.item_metrics_container:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 75px;
}